/* Goal.module.css */
.goal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background: #121212;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.read p {
  text-decoration: line-through;
}

.icons {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.icons span {
  font-size: 20px;
}
