footer {
  background: var(--color-primary);
  margin-top: 3rem;
  padding-top: 7rem;
  font-size: 0.9rem;
  color: var(--color-gray-100);
}

.footer__container {
  display: grid;
  grid-template-columns: 26rem 1fr 1fr 1fr;
  gap: 4rem;
  padding-bottom: 1rem;
}

.footer__container article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
}

.footer__container article p {
  margin-top: 0.5rem;
}

.footer__container article h4 {
  margin-bottom: 0.6rem;
  font-size: 1rem;
}

.footer__socials {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.footer__socials a {
  background: var(--color-gray-100);
  padding: 0.3rem 0.7rem;
  border: 1px solid transparent;
  border-radius: 0.6rem;
  transition: var(--transition);
}

.footer__socials a svg {
  color: var(--color-gray-600);
}

.footer__socials a:hover {
  border-color: var(--color-gray-100);
  background: transparent;
}

.footer__copyright {
  color: var(--color-gray-100);
  text-align: center;
  padding: 1.5rem 0;
  border-top: 2px solid var(--color-primary-variant);
  margin-top: 5rem;
}
.social {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
